@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;500;700;900&display=swap');
:root { 
    --cinza-claro: rgba(255, 255, 255, 0.45);
    --cinza-medio: #f1f4f6;
    --cinza-escuro: #5c5c5c;
    --avermelhado: #f2654e;
    --laranja: #ef9335;
    --amarelo-claro: #fff375;
    --amarelo-escuro: #f5ce2d;
}
h1,
h2,
h3,
h4,
h5,
h6 {
font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

body {
  font-family: Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}
button, a, input[type="submit"] {
    font-family: 'Roboto Condensed' !important;
}

.bg-orange {
    background-color: var(--laranja) !important;
}
.bg-reddish {
background-color: var(--avermelhado) !important;
}
.bg-light-yellow {
background-color: var(--amarelo-claro) !important;
}
.bg-dark-yellow {
background-color: var(--amarelo-escuro) !important;
}
.bg-light-gray {
background-color: var(--cinza-claro) !important;
}
.bg-medium-gray {
background-color: var(--cinza-medio) !important;
}
.bg-dark-gray {
background-color: var(--cinza-escuro) !important;
}
.bg-transparent {
background-color: transparent !important;
}

.text-orange {
color: var(--laranja) !important;
}
.text-reddish {
color: var(--avermelhado) !important;
}
.text-light-yellow {
color: var(--amarelo-claro) !important;
}
.text-dark-yellow {
color: var(--amarelo-escuro) !important;
}
.text-light-gray {
color: var(--cinza-claro) !important;
}
.text-medium-gray {
color: var(--cinza-medio) !important;
}
.text-dark-gray {
color: var(--cinza-escuro) !important;
}
.bg-gradient-orange {
    background-color: var(--laranja);
    background-image: linear-gradient(180deg, var(--laranja) 10%, var(--laranja) 100%);
    background-size: cover;
}
.text-nowrap {
    white-space:nowrap;
}
.pre-formated, .product-description {
    white-space: pre-wrap;
    font-family:Arial, Helvetica, sans-serif;
}
.product-description {
    border-radius: 0.35rem;
    padding: 1rem;
    background-color: #f8f9fc !important;
}
.flex-between, .hflex-center, .vflex-center, .vflex-column-center, .hflex-end{
    display:flex;
    align-items:center;
}
.flex-between {
    justify-content:space-between;
}
.hflex-center {
    justify-content: center;
}
.hflex-end {
    justify-content:end;
}
.vflex-column-center {
    justify-content:center;
    flex-direction: column;
}
.btn-reset {
    padding: 0;
    background: none;
    outline: none !important;
    border:none;
}
.dropdown-toggle i {
    color: darkgray;
}
.dropdown-toggle.no-arrow::before, .dropdown-toggle.no-arrow::after {
    display:none;
}
.btn-action {
    padding:0.25rem 0.5rem !important;
    transition: color 0.3s ease-out;
}
.btn-action:hover {
    color: var(--laranja) !important;
}
.col-action {
    position: absolute;
    top: 10px;
    right: 10px;
}
@media only screen and (min-width:576px) {
    .col-action {
        position: unset;
    }
}

/* MENSAGEM INFORMATIVA */
.bd-callout {
    padding: 15px 20px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 5px;
    overflow:hidden;
    background:white;
}
.bd-callout-title {
    margin-top: 0;
    margin-bottom: 5px;
}
.bd-callout p:last-child {
    margin-bottom: 0;
}
.bd-callout-info {
    border-left-color: #5bc0de;
}
.bd-callout-info .bd-callout-title {
    color: #5bc0de;
}
.summary-row {
    align-items:center;
    justify-content: space-between;
}

.steps {
    display:flex;
    margin-bottom: 1rem;
}
.step {
    display:flex;
    flex-direction: column;
    align-items:center;
    text-align:center;
    justify-content:center;
    flex: 1;
    position: relative;
}
.step-info {
    font-weight: 600;
    display:none;
    color: darkgray;
}
span.step-info {
    display:block;
}
.step-indicator {
    background-color: darkgray;
    color:white;
    display:inline-block;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    line-height: 30px;
    text-align: center;
    position: relative;
    z-index: 1;
}
.step-indicator i {
    font-size: .75rem;
}
.step {
    position: relative;
}
.step:not(:last-child)::after {
    content: "";
    position: absolute;
    z-index: 0;
    top: 15px;
    height: 4px;
    transform: translateY(-2px);
    background-color: darkgray;
    left: 50%;
    width: 100%;
}
.step.completed .step-info {
    color: green;
}
.step .icon-default {
    display:inline-block;
}
.step .icon-active {
    display:none;
}
.step.completed .step-indicator {
    background-color: green;
    color: white;
}
.step.completed .icon-default {
    display:none;
}
.step.completed .icon-active {
    display:inline-block;
}
.step.completed::after {
    background-color:green;
}
.step.active::after {
    background-color: blue;
}
.step.active .step-info {
    color:blue;
}
.step.active .step-indicator {
    background-color: blue;
}

.listable-product-image, .new-photo-label {
    width: 100%;
    height: auto;
    display:flex;
    justify-content:center;
    align-items: center;
    overflow:hidden;
}
.listable-product-image img {
    max-width: 100%;
    max-height: 300px;
}
.new-photo-label {
    border: 3px dashed #dddfeb;
    border-radius: .35rem;
    font-size: 3rem;
    color: #dddfeb;
    transition: all 0.3s ease;
    cursor:pointer;
}
.new-photo-label:hover {
    color: var(--laranja);
    border-color: var(--laranja);
}
.listable-product-image.thumb{
    padding: 0.25rem;
    background-color: #fff;
    border: 2px solid #dddfeb;
    border-radius: 0.35rem;
}
@media only screen and (min-width: 576px) {
    .img-xs {
        width: 100px;
        height: 100px;
    }
    .img-sm, .new-photo-label {
        width: 125px;
        height: 125px;
    }
    .img-md {
        height: 150px;
        width: 150px;
    }
    .img-lg {
        height: 175px;
        width: 175px;
    }
    .img-xs img {
        max-height: 100px;
    }
    .img-sm img {
        max-height: 125px;
    }
    .img-md img {
        max-height: 150px;
    }
    .img-lg img {
        max-height: 175px;
    }
}
.stars-outer {
    display: inline-block;
    position: relative;
    font-family: 'Font Awesome 5 Free';
    font-size: 1rem;
}

.stars-sm {
    font-size: 1.25rem;
}
.stars-md {
    font-size: 1.5rem;
}
.stars-lg {
    font-size: 2rem;
}
.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 50%;
}
.stars-outer::before, .stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-weight: 900 !important;
}
.stars-outer::before {
    color: var(--cinza-medio)
}
.stars-inner::before {
    color: var(--laranja);
}
.cep-container {
position: relative;
}
#cep + .invalid-feedback {
position:absolute;
bottom: 0;
left: 0;
transform:translateY(110%);
}
#cep.is-invalid {
margin-bottom: 2rem;
}
.cep-container .spinner-border {
position: absolute;
right: 12px;
top: 7.5px;
width: 1.5rem;
height: 1.5rem;
}