@media (min-width: 576px) {
    .pagination {
        justify-content: center !important;
    }
    .dataTables_info, .dataTables_paginate {
    margin-top: 10px !important;
    }
}
@media (min-width: 1200px) {
    .pagination {
      justify-content:flex-end !important;
    }
}
/*pre-loader*/
#pre-loader {
    position: fixed;
    top: 0px;
    left:0px;
    z-index:100;
    background-color:white;
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    transition:opacity 0.5s;
}
.pre-loader-disabled {
    opacity: 0;
    pointer-events: none;
}

/*Paginação*/
.page-link {
    color: var(--amarelo-escuro) !important;
}
.page-link:hover {
    color: var(--amarelo-escuro) !important;
    border-color: #c7c7c7;
}
.page-link:focus {
    box-shadow: 0 0 0 0.2rem var(--amarelo-claro) !important;
}
.page-item.active .page-link {
    background-color: var(--laranja) !important;
    border-color: var(--amarelo-claro) !important;
    color:white !important;
    font-weight: 600;
}
/*Seção de título da página*/
.page-title {
    position: relative;
    align-items: center;
  }
.page-title::before {
    content: "";
    left: -1.5rem;
    position: absolute;
    width: calc(100% + 3rem);
    height: 100%;
    background-color: var(--cinza-claro);
    z-index: 0;
}
.page-title-icon, .modal-icon {
    position: relative;
    height: 60px;
    width: 60px;
    border-radius: 10px;
}
.page-title-icon {
    display:none;
    background-color:white;
    margin-right: 20px;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(58, 59, 69, 0.2) !important;
}
.page-title-icon i, .modal-icon i {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: var(--laranja);
}
.page-title-text {
    text-align:center;
}
.page-title-header {
    display:inline-block;
    font-size: 1.75rem;
    color: #5a5c69 !important;
    margin-bottom: 0;
}
.page-title-desc {
    margin-bottom: 0;
}
/*Lista dinamica*/
.carousel-sliding {
    pointer-events: none;
}
.list-min-selectable, .list-selectable {
    overflow: auto;
}
.list-min-selectable {
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
.list-selectable table tr td:not(.td-color), .list-selectable table tr th{
    vertical-align: middle;
    text-align: center;
}
.list-selectable {
    max-height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.35rem;
}
.list-selectable .list-group-item, .list-min-selectable .list-group-item {
    display:flex !important;
    justify-content: space-between !important;
    align-items:center;
    cursor:pointer;
    border-top:none;
    border-left:none;
    border-right:none;
    border-radius: 0 !important;
}
.list-selectable .list-group-item:last-child, .list-min-selectable .list-group-item:last-child {
    border-bottom: none !important;
}
.list-selectable:not(.ui-sortable) .list-group-item:not(.active):hover, .list-min-selectable .list-group-item:not(.active):hover {
    background-color: var(--cinza-medio) !important;
}

.content-card {
    padding: 3rem;
    padding-top: 1.5rem;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(58, 59, 69, 0.2) !important;
    flex: 1 1 auto;
    min-height: 1px;
}


#drop-photos {
    cursor: pointer;
    margin-top: 1rem;
    padding: 1.5rem 0;
    display:flex;
    align-items:center;
    justify-content: center;
}
.show-photo {
    position: relative;
    margin-bottom: 1rem;
}
.show-photo:first-child::before {
    content: "PRINCIPAL";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--laranja);
    color:white;
    padding: 0 0.5rem;
    font-family: 'Roboto Condensed' !important;
    font-size: 11pt;
    border-radius: 5px;
    z-index: 3;
}
.delete-photo {
    display:none;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0.75rem;
    top: 1px;
    width: calc(100% - 1.5rem);
    height: calc(100% - 2px);
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.8);
}
.show-photo:not(.only-photo):hover .delete-photo {
    display:flex;
}

/*Elementos do plugin drap and drop*/
.ui-droppable {
    transition-property: color, border-color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    border: 2px dashed #e3e6f0;
}
.ui-droppable i {
    font-size: 50px;
}
.ui-droppable-hover {
    border-color: var(--avermelhado);
    color: var(--avermelhado) !important;
}
.ui-sortable-helper:not(.show-photo), .ui-draggable-dragging {
    cursor:move;
    background:white !important;
    box-shadow:0 0.15rem 1rem 0 rgba(58, 59, 69, 0.15) !important
}
/*Controles do carousel*/
.carousel-control-next, .carousel-control-prev {
    font-size: 20pt;
    width:unset;
}
.carousel-control-prev {
    transform: translateX(-3rem);
}
.carousel-control-prev-icon {
    background-color: rgba(239, 147, 53, 0.5);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 60px;
    width: 30px;
}
.carousel-control-prev-icon:hover {
    background-color: var(--laranja);
}
.carousel-control-next {
    transform: translateX(100%);
}



/*Custom select para filtros de pesquisa*/
.datalist-toggle {
    display:flex;
    justify-content: space-between;
    position: relative;
}
.datalist-group-toggle input{
    border-right: 0;
}
.datalist-addon-toggle {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #d1d3e2;
    background: transparent;
    border-left: 0;
    border-radius: 0.35rem;
}
.custom-datalist {
    max-height: 185px;
    overflow: auto;
    border:1px solid #d1d3e2;
    border-radius: 0.35rem;
    position: absolute;
    left: 5px;
    z-index: 5;
    width: calc(100% - 10px);
    border-top: none !important;
}
.custom-datalist a {
    text-decoration:none;
}
.datalist-option {
    cursor:pointer;
    padding: 0.40rem 1.25rem;
}
.datalist-option:hover {
    background-color: #d1d3e2;
}


/*Input type color */
.input-group-color {
    display:inline-flex;
    align-items:center;
    background-color:var(--cinza-medio);
    border-radius: 2000px;
    padding:0.25rem 0.75rem;
}
.input-group-transparent {
    display:inline-flex;
    align-items:center;
}
.input-show-color {
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    border:1px solid #979797;
}
.btn-color {
    outline:none;
    padding: 0px 0.5rem;
    margin-left: 0.5rem;
    border:none;
}


.accordion-header {
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.pop-button {
    margin: 0px;
    padding: 0px;
    border:none;
    background: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 0.25rem;
}
.pop-button:focus {
    outline:none;
}
