#header-top {
    display:none;
    background-color: white;
}
#header-middle {
    background-color: var(--amarelo-claro);
}
#header-bottom {
    background-color: var(--laranja);
}
#column-middle {
    display:flex;
    align-items: center;
    justify-content: flex-end;
}
.contact-info li:hover {
    color: var(--laranja)
}
.social-icons li {
    transition: all 0.3s ease;
}
.social-icons li:hover{
    background-color: var(--laranja);
    color:white;
}

/* SACOLA DE COMPRAS */ 
.bag-icon {
    position: relative;
}
.bag-quantity {
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-60%);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align:center;
    line-height: 25px;
    background: var(--laranja);
    color: white;
    font-size: 70%;
    font-weight: 600;
}
.bag-quantity::before {
    content: "";
    position:absolute;
    width: 0;
    height: 0;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -2px);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--laranja);
}
/* DROPDOWN DE CATEGORIAS DO CABEÇALHO */
body {
    position:relative;
}
body::before {
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: unset;
    z-index: -999;
    transition: background 0.3s ease-in-out;
}
body.display-categories::before {
    z-index: 999;
    background-color: rgba(0,0,0, .15);
}
body.display-categories header, body.display-categories footer {
    z-index:1000;
    position: relative;
}
.dropdown-rel {
    position: relative;
}
.dropdown-toggler {
    cursor: pointer;
}
.dropdown-indicator {
    position: absolute;
    top: 100%;
    left: 50%;
    transform:translate(-50%,-100%);
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #5a5c69;
}
.dropdown-container {
    display:none;   
    position: absolute;
    top: 100%;
    left: 0;
    z-index:1000;
    background: #5a5c69 !important;
}
.dropdown-items {
    max-height: 400px;
    min-width: 250px;
    overflow-y: scroll;
}
.drop-item {
    display: block;
    width: 100%;
    padding: 1rem;
    padding-left: 2rem;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    background-color: transparent;
    border: 0;
    color:white;
}
.item-sub {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.drop-item:hover, .drop-item-active {
    background-color: var(--amarelo-escuro) !important;
    text-decoration: none;
    color:white;
}
.subdrop-item {
    min-width: 600px;
    display:none;
    height: 100%;
    padding: 1rem 2rem;
    background-color: white;
}
.subdrop-item .list-group-item {
    border:none;
}
.subdrop-title {
    border-bottom: 1px solid var(--cinza-medio);
    padding: 1rem 0;
    margin-bottom: 1rem;
}



/*  PROMOÇÕES EM DESATQUE */
.highlight {
    display:flex;
    align-items:center;
    height: 65vh;
    max-height: 500px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-size: contain;
}
.highlight p {
    font-weight: 600;
}
.highlight h1 {
    color: var(--laranja) !important;
}


/* RODAPÉ */
#footer {
    background: #F0F0E9;
    margin-top: 100px;
}
.single-widget {
    margin-bottom: 1rem;
}
.single-widget ul li a {
    color: #8C8C88;
    margin: 5px 0px;
    padding: 0px;
}
.single-widget ul li a:hover {
    background: none;
    color: var(--laranja);
}
.footer-bottom p {
    text-align: center;
}
.arrow-down {
    vertical-align: .255em;
}
@media (min-width: 992px) {
    .header-middle-content {
        min-width: 400px;
    }
}


/* CAROUSEL DE LISTAGEM DOS PRODUTOS */
.carousel-indicators {
    margin-bottom: 0px;
    bottom: -1rem;
}
.carousel {
    padding-bottom: 1rem;
}
.carousel-fade .carousel-item {
    transition-property: opacity;
    transition-duration: 1s;
}
.carousel:hover .control-next, .carousel:hover .control-prev{
    opacity: 1;
}
.control-next, .control-prev {
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    top: 125px;
    z-index: 10;
    opacity: 0;
}
.control-next {
    right: 0px;
    transform: translate(50%, -50%);
}
.control-prev {
    left: 0px;
    transform: translate(-50%, -50%);
}
.control-prev i, .control-next i{
    color:var(--laranja);
    font-size: 50px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: white !important;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(58, 59, 69, 0.2) !important;
}
.control-prev i::before, .control-next i::before{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.carousel:not(#slidePhotos) .carousel-indicators li {
    background-color: var(--cinza-escuro);
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.carousel:not(#slidePhotos) .carousel-indicators li.active {
    background-color: var(--laranja);
}



/* SESSÕES DA LOJA */  
.section-header {
    position: relative;
    text-align: center;
    margin-bottom: 1rem;
}
.section-header-text {
    padding: 1rem;
    background-color:white;
    display: inline-block;
}
.section-header h2 {
    color: var(--laranja);
    margin: 0 15px;
    display: inline-block;
    text-transform: uppercase;
}
.section-header:after {
    content: " ";
    position: absolute;
    border: 1px solid #f5f5f5;
    bottom: 50%;
    left: 0;
    width: 100%;
    height: 0;
    z-index: -2;
}

/* PRODUCT CONTENT */
.product-wrapper {
    border: 1px solid #f5f5f5;
    box-shadow:  0 0.125rem 0.25rem 0 rgba(58, 59, 69, 0.2);
    margin-bottom: 30px;
    overflow:hidden;
}

.product-content {
    position: relative;
}
.product-content, .overlay-content {
    padding: 1rem;
    padding-bottom: 2rem;
    text-align: center;
}
.product-image {
    height: 150px;
}
.product-image img{
    max-width: 100%;
    max-height: 150px;
}

/* PRODUCT OVERLAY */
.product-overlay {
    background: rgba(239, 146, 53, 0.25);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 0;
    transition: height 500ms ease 0s;
}
.overlay-content {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.product-content:hover .product-overlay {
    height: 100%;
}
.product-name {
    height: 2.4rem;
    margin-bottom: 1rem;
    overflow:hidden;
}
.add-to-bag {
    color: #4e73df;
    border-color: #4e73df;
}
.product-actions {
    border-top: 1px solid #F7F7F0;
    text-align:center;
}
.product-actions i {
    margin-right: 5px;
}
.product-actions a:hover {
    background: none;
    color: var(--laranja);
}
.product-price {
    margin: 1.5rem 0 0.75rem;
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
}
.price-info {
    position: absolute;
    top: 0;
    transform: translateY(-100%);
}
.product-price, .current-price {
    display:flex;
}
.product-price {
    flex-direction: column;
    align-items:center;
}
.old-price {
    text-decoration: line-through;
    margin-right: 10px;
    font-size: 80%;
}
.current-price {
    margin: 0;
    font-size: 1.5rem;
    align-items:center;
}
.current-price .badge {
    font-size: 60%;
    margin-left: 0.5rem;
}



/* LOGIN E CADASTRO*/
.card-title {
    color: var(--laranja) !important;
    font-size: 1.5rem;
    margin-bottom: 0;
}
.card-title + p {
    margin-bottom: 1rem; 
}
.form-step {
    background-color:white;
    padding: 1.5rem;
}
.badge-email {
    padding: 0.5rem;
    margin-bottom: 1rem;
}
.badge-email span, .badge-email a, .badge-email i {
    vertical-align: middle;
}
.badge-email i {
    margin-bottom: 0px;
    margin-left: 0.5rem;
    font-size: 1rem;
    color: #858796 !important;
}

.profile-page-title {
    margin: 1rem 0;
}
.custom-card {
    box-shadow: 0 0.125rem 0.25rem 0 rgba(58, 59, 69, 0.2) !important;
    border: none;
    margin-bottom: 1.5rem;
    padding: 1.25rem;
    padding-bottom: 3rem;
    flex: 1 1 auto;
}
.order-col {
    margin-bottom: 1rem;
    text-align:center;
}
.order-aval {
    justify-content:center;
    align-items:center;
}
.order-star-icon {
    color: var(--laranja);
    font-size: 1rem;
}
.order-card {
    background-color: #f8f9fc !important;
    border:none;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.order-card.full {
    height: calc(100% - 1.5rem);
    justify-content:center;
}
.order-card-icon {
    height: 60px;
    width: 60px;
    text-align:center;
    line-height: 60px;
    border-radius: 50%;
    font-size: 1.5rem;
    background: white;
    color: var(--laranja);
    display:block;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.order-details {
    display:block;
    margin: 0 auto;
    margin-top: 1.5rem;
}
.order-number {
    display:inline-block;
    margin-bottom: 0;
    font-size: 1rem;
}
.order-deadline {
    display:block;
    color: #1cc88a !important;
}
.order-payment-name {
    font-size: 1rem;
    margin-bottom: 0;
}
.order-payment-desc {
    margin-bottom:0;
}
.order-itens {
    max-height: 250px;
    overflow-y: auto;
}
.order-itens td{
    white-space: nowrap;
}
 .step-info {
    font-size: 60%;
    line-height: 1;
}
.step-indicator i {
    font-size: 1rem;
}
@media only screen and (min-width: 576px) {
    .product-image {
        height: 250px;
    }
    .product-image img{
        max-width: 100%;
        max-height: 250px;
    }
     .step-info {
        font-size: 80%;
        line-height: 1.25;
    }
    .order-col {
        margin-bottom: 0;
        text-align:left;
    }
    .order-aval {
        flex-direction: column;
    }
    .order-card-icon {
        height: 80px;
        width: 80px;
        font-size: 2rem;
        line-height: 80px;
        margin-bottom: 0;
    }
}
@media only screen and (min-width: 768px) {
    .profile-page-title {
        margin-top: 0;
    }
    .order-deadline {
        margin-left: 1rem;
        display:inline-block;
    }
    .product-image {
        height: 150px;
    }
    .product-image img{
        max-width: 100%;
        max-height: 150px;
    }
}
@media only screen and (min-width: 992px) {
    .product-image {
        height: 250px;
    }
    .product-image img{
        max-width: 100%;
        max-height: 250px;
    }
}
.products-shop-container {
    box-shadow: 0 0.125rem 0.25rem 0 rgba(58, 59, 69, 0.2) !important;
    margin-bottom: 3rem;
}
.product-shop-wrapper {
    position: relative;
    border-bottom: 1px solid var(--cinza-medio);
    padding: 0 1rem;
}
.product-shop-wrapper:last-child {
    border: none;
}
.product-shop-wrapper:hover .fav-icon {
    opacity: 1;
}
.product-shop-price {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0.5rem;
}




.star-rating-controls {
    display:flex;
}
.star-rating-group {
    margin:0 0.25rem;
}
.star-rating-control {
    display:none;
}
.star-rating-label {
    display:inline-block;
    color: var(--cinza-medio);
    font-size: 2rem;
    cursor:pointer;
    margin-bottom: 0;
}
.star-rating-label.active,
.star-rating-control:checked + label {
    color: var(--laranja);
}
.product-aval-img-container {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dddfeb;
    border-radius: 0.35rem;
    max-width: 100%;
    height: auto;
}
.product-aval-image {
    display:block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 150px;
}

.summary-info li.list-group-item {
    background:transparent !important;
    padding-left: 0;
    padding-right: 0;
}


.option-group-title {
    display:inline-block;
    margin-bottom: 0.25rem;
}
.radio-button-color {
    display:flex;
}
.radio-button-color, .radio-button-text, .config-text {
    position: relative;
    margin-bottom: 0.75rem;
}
.config-text {
    display:block;
}
.radio-button-color input, .radio-button-text input {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    opacity: 0;
}
.radio-button-color input {
    transform: translate(-50%, -80%);
}
.radio-button-text input {
    transform: translate(-50%, -50%);
}
.radio-button-option:checked ~ label  {
    box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5) !important;
}
.radio-button-color-show, .radio-button-text-show {
    display:inline-block;
    border: 1px solid darkgray;
    border-radius: 0.25rem !important;
    cursor: pointer;
    margin: 0;
}
.radio-button-text-show {
    padding: 0.25rem 0.5rem;
    font-size: 10pt;
}
a.radio-button-text-show.active {
    border:1px solid #4e73df;
}
a.radio-button-text-show i {
    color:#858796;
}
a.radio-button-text-show.active i {
    color:#4e73df;
}
.radio-button-color-show {
    width: 25px;
    height:25px;
}